@import "./vant-theme.scss";

page {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}


page {
  --button-primary-background-color: #007aff;
  --button-primary-border-color: #007aff;
}
